@media screen and (min-width:1px) and (max-width:1023px) {
    .diss{
        display: none;
    }
    .diss4{
        display: none;
    }

}
@media screen and (min-width:1px) and (max-width:1199px) {
    .backg{
    background-color: black;
    height: 50%;
    }

}
@media screen and (min-width:1200px) {
    .position{
        margin-left: 850px;
        margin-top: -400px;
    }
    .position2{
        margin-left: 85px;
        margin-top: -490px;
    }
    .position3{
        position: sticky;
        margin-left: 50%;
        margin-top: -420px;
    }
}
@media screen and (min-width:501px) and (max-width:767px) {
    .diss1{
        display: none;
    }
}
@media screen and (min-width:385px) and (max-width:500px) {
    .diss2{
        display: none;
    }
}

@media screen and (min-width:1px) and (max-width:384px) {
    .diss3{
        display: none;
    }
}
.baner{
    width: 100%;
}
.top-header1{
    background-color: #F2F6F6;
    height: 5%;
}
.epsonus{
    font-size: 11px;
    color: #003399;
    line-height: 35px;
}
.hlinks{
width:15% ;
}
.navcolor{
background-color:#19212b;
height: 110px;
}
.marginleft{
    margin-left: 200px;
    font-size: 12PX;
}
.remove-pad{
    padding: 0;
}
.bu{
    background-color: #003399;
}
.bu:hover{
    background-color: #9ddfff;
    color: #003399;
}
.icon1{
    background-image: url(../images/21.png);
}
.icon2{
    background-image: url(../images/22.png);
}
.icon3{
    background-image: url(../images/23.png);
}
.icon4{
    background-image: url(../images/24.png);
}
.icon5{
    background-image: url(../images/26.png);
}
.icons{
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.font12{
    font-size: 13px;
    color: #003399;
}
li:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    color: #014277;
}

.footer1{
    background-color: #f1f3f5;
}
.backfoot{
    background-color: #19212b;
    height: 120px;
}
.fs-7{
    font-size: 13px;
}
.imagesize{
    width: 90%;
}
.margintop{
    margin-top: 18%;
}
.topmargin{
    margin-top: 8%;
}
